.header {
    background-color: antiquewhite;
    font-family: monospace;
    padding: 8px;
    display: flex;
    justify-content: space-between; /* Se coloca espacio entre elementos */
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex; /* Los apartados se colocan en linea */
    padding: 0;
    gap: 8px;
}

a {
    background-color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    margin: 5px;
}

.logo {
    background: #fff;
    color: tomato;
    font-size: 48px;
    font-weight: 900;
    padding: 4px 32px;
}